<div id="<%= dom_id teacher_distribution %>">
  <p>
    <strong>Особа:</strong>
    <%= teacher_distribution.person.full_name %>
  </p>

  <p>
    <strong>Кафедра:</strong>
    <%= teacher_distribution.unit.name %>
  </p>
</div>
