<h1>Редагування даних про критерій оцінювання</h1>

<%= render "form", criterium: @criterium %>

<br>

<div>
  <%= link_to "Показати дані про цей критерій", @criterium %> |
  <%= link_to "Назад до переліку критеріїв", criteria_path %>
</div>
