<h2>❌ Вас зареєстровано в персоналі закладу вищої освіти, але не зареєстровано в жодному структурному підрозділі ❌</h2>
<h2>
  Зверніться до
  <%= mail_to Rails.application.credentials.editor_email, "адміністратора",
              subject: "Викладач очима студентів - реєстрація у підрозділі",
              body: "Адміністратору\n\n
              Прошу Вас зареєструвати мене у такому підрозділі: \n\n
              #{@current_user}
              "
  %>
</h2>