<div id="<%= dom_id student %>">
  <p>
    <strong>Прізвище, ім'я та по батькові (за наявності):</strong>
    <%= student.full_name %>
  </p>

  <p>
    <strong>Код персони в ЄДЕБО:</strong>
    <%= student.edebo_person_code %>
  </p>

</div>
