<h1>Редагування даних студента/студентки</h1>

<%= render "form", student: @student %>

<br>

<div>
  <%= link_to "Показати дані цього студента/цієї студентки", @student %> |
  <%= link_to "Назад до переліку студентів/студенток", students_path %>
</div>
