<h1>Нова пара "студент-викладач"</h1>

<%= render "form", student_teacher: @student_teacher,
           student_distributions_for_select: @student_distributions_for_select,
           teacher_distributions_for_select: @teacher_distributions_for_select
%>

<br>

<div>
  <%= link_to "Назад до переліку пар", student_teachers_path %>
</div>
