<h1>Редагування даних про академгрупу</h1>

<%= render "form", group: @group %>

<br>

<div>
  <%= link_to "Показати дані про цю академгрупу", @group %> |
  <%= link_to "Назад до переліку академгруп", groups_path %>
</div>
