<h5>Івано-Франківський національний технічний університет нафти і газу</h5>
<h2>Онлайн-опитування</h2>
<h1 id="TeacherByStudentEyes">Викладач очима студентів</h1>
<h3 id="EnterWithEmail">
  <%= link_to "Увійти через пошту ІФНТУНГ @nung.edu.ua", "/auth/google_oauth2" %>
</h3>
<p>_______<br>&copy; В.&nbsp;Лозинський, 2023</p>
