<h5>Івано-Франківський національний технічний університет нафти і газу</h5>
<h2>Онлайн-опитування</h2>
<h1 id="TeacherByStudentEyes">Викладач очима студентів</h1>
<h3 id="EnterWithEmail">
  <%= link_to "Увійти через пошту ІФНТУНГ @nung.edu.ua", auth_google_oauth2_path %>
</h3>
<h6>_______<br>&copy;&nbsp;В.&nbsp;Лозинський,&nbsp;2023</h6>
