<h1>Нове призначення студента/студентки в академгрупу</h1>

<%=
  render "form", student_distribution: @student_distribution,
         students_for_select: @students_for_select,
         groups_for_select: @groups_for_select
%>

<br>

<div>
  <%= link_to "Назад до розподілу за академгрупами", student_distributions_path %>
</div>
