<h1>Редагування даних про роль користувача</h1>

<%= render "form", role: @role %>

<br>

<div>
  <%= link_to "Показати дані про цю роль користувача", @role %> |
  <%= link_to "Назад до переліку ролей", roles_path %>
</div>
