<h1>Редагування даних про структурну одиницю</h1>

<%= render "form", unit: @unit %>

<br>

<div>
  <%= link_to "Показати дані про цю структурну одиницю", @unit %> |
  <%= link_to "Назад до переліку структурних одиниць", units_path %>
</div>
